// palette colori principali
$primaryColor: #006769;
$secondColor: #40A578;
$thirdColor: #9DDE8B;
$fourthColor: #E6FF94;

// --------------------------------
// variabili switch
$focus-ring-box-shadow: 0 0 0 .25rem #40a5788f !important;